---
 layout: default
---

<div class = "featured-article">
 <div class ="paragraph">
  <p>Featured article</p>
 </div>
</div>

 <div class = "articles">
   <span>
   <a class = "remove-underline" href ="{{site.baseurl}}/featured-article.html">
    <img src = "{{site.baseurl}}/files/img/background_7.png" class = "img-node">
   </a>
   </span>

  <span class = "title">
  <a class = "remove-underline" href ="{{site.baseurl}}/featured-article.html">
  <h2 class = "vertical" >Title.</h2>
  <p>Subtitle--Lorem ipsum dolor sit amet,consectetur<br> adipiscing elit, sed do eiusmod tempor incididunt ut<br> labore et dolore magna aliqua.</p>
  <ul>
   <li><a>05.09.2021</a></li>
   <li><a>Permalink</a></li>
   <li><a>Category 1</a></li>
   <li><a>Category 2</a></li>
  </ul>
    </a>
 </span>
</div>

<div class = "content1">
 <div class = "category">
  <div class= "categories">
   <h4 class = "categories_bar">Categories</h4>
    <ul style="list-style: none;">
      <li>Insight</li>
      <li>Technology</li>
      <li>History</li>
      <li>Markets</li>
      <li>Xenopoetics</li>
      <li>Other</li>
    </ul>
  </div>
  </div>

<div class = "containers1">
 <div class = "latest-articles1">
  <p class ="paragraph">Latest articles</p>
 </div>
 <div class = "group">
  {% for article in site.categories.latest_articles %}
    <div class="latest-img">
     <a class = "remove-underline" href = "{{site.baseurl}}{{article.url}}">
      <div class="img-1">
        <img src="{{site.baseurl}}{{article.img}}" class = "img-1" style ="height: 60%; width: 100%;">
      </div>
      <figcaption class = "title-img" style ="height: 40%; width: 100%;">
      <div class = "style">
       <h3 class= "bar">
        {{article.title}}
       </h3>
      </div>
     <p>{{article.paragraph}}</p>
     <ul>
      <li><a>{{article.list1}}</a></li>
      <li><a>{{article.list2}}</a></li>
      <li><a>{{article.list3}}</a></li>
      <li><a>{{article.list4}}</a></li>
      </ul>
       </figcaption>
      </a>
    </div>
  {% endfor %}
  </div>
  
  </div>
 </div>

 
 <div class = "content2">
  <div class = "middle-table">
     <span class = "latest-article2">
      <p class = "paragraph">category1</p>
     </span>

    <span class = "all-articles">
     <div class = "paragraphs">
       <p><a href= "{{site.baseurl}}/archive.html" style="color: aqua">All articles &#8594;</a></p>
     </div>
    </span>
  </div>


<div class = "containers2">
  <div class = "group">
  {% for article in site.categories.latest_articles %}
  <div class = "latest-img">
    <a class = "remove-underline" href = "{{site.baseurl}}{{article.url}}">
    <div class = "img-1">
      <img src= "{{site.baseurl}}{{article.img}}" class = "img-1" style ="height: 60%; width: 100%;">  
    </div>
   <figcaption class = "title-img" style ="height: 40%; width: 100%;">
    <div class = "style">
      <h3 class= "bar">
      {{article.title}}
      </h3>
    </div>
     <p>{{article.paragraph}}</p>
     <ul>
      <li><a>{{article.list1}}</a></li>
      <li><a>{{article.list2}}</a></li>
      <li><a>{{article.list3}}</a></li>
      <li><a>{{article.list4}}</a></li>
      </ul>
     </figcaption>                 
    </a>
  </div>
  {% endfor %}

 </div>
</div>
</div>
<div class = "above-footer">
      <span class ="to-archive">
        
        <p class ="go-to-archive"><a class = "remove-underline" href="{{site.baseurl}}/archive.html" style="color: white" >Archive</a></p>
       
      </span>
            <div class ="tag">
        <a class = "remove-underline" href ="https://mobile.twitter.com/darkfisquad">
          <img class = "down-follow-img" src="files/icons/twitter.svg">
        </a>
       <a class = "remove-underline" href ="https://element.dark.fi">
          <img class = "down-follow-img" src="files/icons/element.svg">
        </a>
          <a class = "remove-underline" href ="https://github.com/darkrenaissance">
          <img class = "down-follow-img" src="files/icons/github.svg">
        </a>
         <a class = "remove-underline" href ="https://t.me/darkrenaissance">
          <img class = "down-follow-img" src="files/icons/telegram.svg">
        </a>


      </div>
 </div>



