<header>
     <div class = "header">
         <div class = "topnav">
           <div class="nav" id="myTopnav">
               <img src="{{site.baseurl}}/files/icons/logo.svg">
               <h1>Blog</h1>
               <a class = "remove-underline" href ="https://github.com/darkrenaissance/darkfi">Source code</a>
               <a class = "remove-underline" href ="https://dark.fi/manifesto.html">Manifesto</a>
               <a class = "remove-underline" href = "https://element.dark.fi/">Community</a>
               <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                 <i class="fa fa-bars"></i>
               </a>
           </div>
         </div>
     </div>
               <script>
               function myFunction() {
                 var x = document.getElementById("myTopnav");
                 if (x.className === "topnav") {
                   x.className += " responsive";
                 } else {
                   x.className = "topnav";
                 }
               }
               </script>
</header>

