<header>
      <div class = "header">
      <img src="{{site.baseurl}}/files/icons/logo.svg">
      <div class = "nav">
            <h1>Blog</h1>
            <ul>
              <li class = "remove-underline" href ="https://github.com/darkrenaissance/darkfi">Source code</li>
              <li class = "remove-underline" href ="https://dark.fi/manifesto.html">Manifesto</li>
              <li class = "remove-underline" href = "https://element.dark.fi/">Community</li>
            </ul>
      </div>
     </div>
</header>
